<a href="https://colab.research.google.com/github/feericasf/Projeto_T-cnicas_de_Programa-oI_An-lise_de_Dados/blob/main/C%C3%B3pia_de_Projeto_T%C3%A9cnicas_de_Programa%C3%A7%C3%A3o_I_An%C3%A1lise_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise de Dados - Cursos plataforma de ensino *online*

A análise de dados é uma ferramenta essencial para impulsionar os negócios de uma empresa, e consequentemente, agregar valor.
<br>
<br>
Um dos profissionais necessários para a geração de valor para empresas, é o cientista/analista de dados. Este profissional é capaz de retirar insights de diversas fontes de dados.
<br>
<br>
Dito tudo isso, você, como cientista/analista de dados recebeu a missão de analisar dados de uma empresa ensino online de tecnologia. Seu principal objetivo, é através dos dados (disponibilizados na <a href="https://drive.google.com/file/d/1PE-9PTK5twBuUOuuKAk3Oo02Is8Dr8q-/view?usp=share_link">pasta compartilhada</a> deste módulo), é o de responder algumas perguntas de negócios para auxiliar a empresa a aprimorar os seus serviços e produtos.
<br>
<br>
Detalhes da base de dados podem ser vistos na plataforma Kaggle pelo <a href="https://www.kaggle.com/datasets/thedevastator/udemy-courses-revenue-generation-and-course-anal">link</a>
<br>
<br>
Para isso, use os conhecimentos obtidos neste módulo (e anteriores) para responder as seguintes questões:

**Dicas:**

- Serão três diferentes bases de dados disponibilizadas na pasta do módulo, separadas por assunto (curso). Porém, todas elas contêm o mesmo cabeçalho. Logo, para que consiga responder as perguntas abaixo, unifique-as em um único **DataFrame** do pandas, e realize as análises.
- Não é necessário criar gráficos/visualizações para apresentar os resultados de cada pergunta. Porém, se você estiver confortável para criá-los quando necessário, fique à vontade.

### Perguntas a serem respondidas a partir dos dados.

1. Quantos cursos estão disponíveis na plataforma?

In [2]:
import numpy as np
import pandas as pd

In [15]:
business = pd.read_csv("/content/3.1-data-sheet-udemy-courses-business-courses.csv")
design = pd.read_csv("/content/3.1-data-sheet-udemy-courses-design-courses.csv")
music = pd.read_csv("/content/3.1-data-sheet-udemy-courses-music-courses.csv")
web = pd.read_csv("/content/3.1-data-sheet-udemy-courses-web-development.csv")

op_cursos = pd.concat([business, design, music, web])

len(op_cursos['course_id'])

total_cursos = op_cursos['course_id'].unique()
total = len(total_cursos)

print(f"O total de cursos disponíveis na nossa plataforma é de {total}.")

O total de cursos disponíveis na nossa plataforma é de 3673.

2. Quais e quantos são os cursos que abordam o assunto: JavaScript?

In [18]:
op_cursos["course_title"] = op_cursos["course_title"].str.lower()
java = op_cursos[op_cursos['course_title'].str.contains('javascript', na= False)]
qnt_java = len(java)
java_cursos = java[['course_title']]
total = len(total_cursos)

print(f"A plataforma disponibiliza um total de {total}, sendo que desses cursos {qnt_java} são em JavaScprit. \nOs cursos são: {java_cursos}.")

A plataforma disponibiliza um total de 3673, sendo que desses cursos 137 são em JavaScprit.
Os cursos são:                                            course_title
6                learn javascript & jquery from scratch
8             javascript: understanding the weird parts
23    learning dynamic website design - php mysql an...
24                                javascript essentials
36    the complete javascript course for web develop...
...                                                 ...
1126                let's javascript! code a calculator
1136  advance javascript for coders: learn oop in ja...
1139  17 complete javascript projects explained step...
1156  popular javascript framework:learn the languag...
1162  the complete javascript, html and css tutorial...

[137 rows x 1 columns].

3. Qual é o preço médio (coluna *price*) dos cursos oferecidos na plataforma?

In [20]:
valor_cursos = np.round(op_cursos[["price"]].mean(), 2)

print(f"O valor médio dos cursos é {valor_cursos}.")

O valor médio dos cursos é price    66.12
dtype: float64.

4. Quais são os cinco cursos com maior número de inscritos (coluna *num_subscribers*)?

In [22]:
inscritos = op_cursos.sort_values(by="num_subscribers", ascending = False).reset_index()
inscritos.head()

,index,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,0,41295.0,learn html5 programming from scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,1,59014.0,coding for entrepreneurs basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,2,625204.0,the web developer bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,3,173548.0,build your first website in 1 week with html5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,4,764164.0,the complete web developer course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development

5. Dos cinco cursos mais populares em termos de inscritos, mostre o **rate médio**, **máximo** e **mínimo** de cada um deles.

In [25]:
maximo = inscritos["Rating"].max()
minimo = inscritos["Rating"].min()
medio = np.round(inscritos["Rating"].mean(), 3)


print(f"O valor máximo é de {maximo}, o mínimo é de {minimo} e a média deles é de {medio}.")

O valor máximo é de 1.0, o mínimo é de 0.0 e a média deles é de 0.611.

6. Apresente os dez cursos mais visualizados na plataforma.

In [29]:
visualizacoes = op_cursos.sort_values(by='num_reviews', ascending=False).reset_index().head(10)

print(f"Os dez cursos mais visualizados são: {visualizacoes}")

Os dez cursos mais visualizados são:    index  course_id                                       course_title  \
0      2   625204.0                         the web developer bootcamp
1      4   764164.0              the complete web developer course 2.0
2      9   756150.0  angular 4 (formerly angular 2) - the complete ...
3      8   364426.0          javascript: understanding the weird parts
4     21   705264.0                            modern react with redux
5     16   289230.0                     learn and understand angularjs
6     17   461160.0                        learn and understand nodejs
7      0    41295.0               learn html5 programming from scratch
8     28   719002.0  angular 2 with typescript for beginners: the p...
9      1   238934.0  pianoforall - incredible new way to learn pian...

                                                 url  price  num_subscribers  \
0  https://www.udemy.com/the-web-developer-bootcamp/  200.0         121584.0
1  https://www.udemy.com/the-complete-web-develop...  200.0         114512.0
2  https://www.udemy.com/the-complete-guide-to-an...  190.0          73783.0
3       https://www.udemy.com/understand-javascript/  175.0          79612.0
4                 https://www.udemy.com/react-redux/  180.0          50815.0
5             https://www.udemy.com/learn-angularjs/  175.0          59361.0
6           https://www.udemy.com/understand-nodejs/  195.0          58208.0
7  https://www.udemy.com/learn-html5-programming-...    0.0         268923.0
8  https://www.udemy.com/angular-2-tutorial-for-b...  150.0          40070.0
9  https://www.udemy.com/pianoforall-incredible-n...  200.0          75499.0

   num_reviews  num_lectures           level  Rating  content_duration  \
0      27445.0         342.0  Beginner Level    0.89              43.0
1      22412.0         304.0  Beginner Level    0.55              30.5
2      19649.0         329.0  Beginner Level    0.90              22.0
3      16976.0          85.0      All Levels    0.69              11.5
4      15117.0         150.0      All Levels    0.62              26.5
5      11580.0          55.0  Beginner Level    0.87               7.0
6      11123.0          98.0  Beginner Level    0.73              13.0
7       8629.0          45.0  Beginner Level    0.82              10.5
8       8341.0         194.0      All Levels    0.74               9.5
9       7676.0         362.0  Beginner Level    0.96              30.0

    published_timestamp                   subject
0  2015-11-02T21:13:27Z  Subject: Web Development
1  2016-03-08T22:28:36Z  Subject: Web Development
2  2016-02-11T07:29:29Z  Subject: Web Development
3  2015-03-12T23:19:54Z  Subject: Web Development
4  2015-12-28T19:20:21Z  Subject: Web Development
5  2014-09-24T00:57:25Z  Subject: Web Development
6  2015-08-31T21:07:48Z  Subject: Web Development
7  2013-02-14T07:03:41Z  Subject: Web Development
8  2016-03-03T20:17:59Z  Subject: Web Development
9  2014-08-07T06:27:51Z       Musical Instruments

7. A partir dos dez cursos mais vistos, mostre: 1) qual tem o maior número de inscritos; 2) qual tem o maior **rate** (avaliação do curso).

In [33]:
inscritos = visualizacoes.sort_values(by="num_subscribers", ascending = False).reset_index()
maior_num = [inscritos["course_title"][0]]
inscritos = visualizacoes["num_subscribers"].max()

print(f"O curso com maior número de inscritos é {maior_num} e tem um total de {inscritos}.")

O curso com maior número de inscritos é ['learn html5 programming from scratch'] e tem um total de 268923.0.

8. Dos cursos listados na base de dados, qual tem maior duração em horas?

In [35]:
horas_curso = op_cursos.sort_values(by =  "content_duration", ascending = False).reset_index()
curso_maish = horas_curso["course_title"][0]
tempo = horas_curso["content_duration"][0]

print(f"O curso {curso_maish} é o que tem maior duração, sendo {tempo} a sua duração.")

O curso the complete figure drawing course hd é o que tem maior duração, sendo 78.5 a sua duração.

9. Dos cursos listados na base de dados, qual tem o maior número de aulas (*lectures*)?

In [39]:
qtd_aulas = op_cursos["num_lectures"].max()

print(f"O curso com o maior número de aulas é o Back to School Web Development and Programming com {qtd_aulas} aulas.")

O curso com o maior número de aulas é o Back to School Web Development and Programming com 779.0 aulas.

10. Apresente o número (contagem) de cursos agrupados por nível (coluna *level*).

In [42]:
cursos_agrupados = op_cursos.groupby(by = "level").count().reset_index()

print(f"O número de cursos agrupados é: {cursos_agrupados}.")

O número de cursos agrupados é:                 level  course_id  course_title   url  price  num_subscribers  \
0          All Levels       1925          1925  1925   1925             1925
1      Beginner Level       1271          1271  1271   1271             1271
2        Expert Level         58            58    58     58               58
3  Intermediate Level        422           422   422    422              422

   num_reviews  num_lectures  Rating  content_duration  published_timestamp  \
0         1925          1925    1925              1925                 1925
1         1271          1271    1271              1271                 1271
2           58            58      58                58                   58
3          422           422     422               422                  422

   subject
0     1925
1     1271
2       58
3      422  .

11. Quais são os cursos mais recentes contidos na base de dados?

In [43]:
recentes = op_cursos.sort_values(by = "published_timestamp", ascending = False).reset_index()
recentes.head()

,index,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,1183,1282064.0,cryptocurrency (btc & eth) investment & tradin...,https://www.udemy.com/cryptocurrency-btc-eth-i...,20.0,0.0,0.0,7.0,All Levels,0.95,2.500000,2017-07-06T21:46:30Z,Business Finance
1,1164,1187084.0,forex how traders beat the markest with little...,https://www.udemy.com/forex-how-traders-beat-t...,100.0,0.0,0.0,16.0,All Levels,0.15,1.000000,2017-07-06T21:16:13Z,Business Finance
2,1027,1268616.0,condor broken wing butterfly options trading c...,https://www.udemy.com/condor-broken-wing-butte...,0.0,16.0,0.0,15.0,All Levels,0.20,1.500000,2017-07-06T19:47:16Z,Business Finance
3,669,1265814.0,abrsm grade iii piano class - handel sonatina ...,https://www.udemy.com/abrsm-grade-iii-piano-cl...,20.0,0.0,0.0,5.0,Beginner Level,0.34,0.516667,2017-07-06T16:12:34Z,Musical Instruments
4,1201,1277924.0,angular 4 front to back,https://www.udemy.com/angular-4-front-to-back/,40.0,44.0,0.0,68.0,All Levels,0.15,8.500000,2017-07-06T15:04:55Z,Subject: Web Development

12. Apresente o número (contagem) de cursos agrupados por nível (coluna *level*) e por assunto (coluna *subject*).

In [44]:
agrupados = op_cursos.groupby(by = ["level", "subject"]).count().reset_index()
agrupados

,level,subject,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration,published_timestamp
0,All Levels,Business Finance,633,633,633,633,633,633,633,633,633,633
1,All Levels,Graphic Design,335,335,335,335,335,335,335,335,335,335
2,All Levels,Musical Instruments,324,324,324,324,324,324,324,324,324,324
3,All Levels,Subject: Web Development,633,633,633,633,633,633,633,633,633,633
4,Beginner Level,Business Finance,399,399,399,399,399,399,399,399,399,399
5,Beginner Level,Graphic Design,184,184,184,184,184,184,184,184,184,184
6,Beginner Level,Musical Instruments,266,266,266,266,266,266,266,266,266,266
7,Beginner Level,Subject: Web Development,422,422,422,422,422,422,422,422,422,422
8,Expert Level,Business Finance,25,25,25,25,25,25,25,25,25,25
9,Expert Level,Graphic Design,7,7,7,7,7,7,7,7,7,7
10,Expert Level,Musical Instruments,12,12,12,12,12,12,12,12,12,12
11,Expert Level,Subject: Web Development,14,14,14,14,14,14,14,14,14,14
12,Intermediate Level,Business Finance,134,134,134,134,134,134,134,134,134,134
13,Intermediate Level,Graphic Design,76,76,76,76,76,76,76,76,76,76
14,Intermediate Level,Musical Instruments,78,78,78,78,78,78,78,78,78,78
15,Intermediate Level,Subject: Web Development,134,134,134,134,134,134,134,134,134,134

13. Disponibilize suas análises em um repositório do Github e compartilhe o link abaixo.

14. Crie uma conta no <a href="https://www.kaggle.com/datasets/thedevastator/udemy-courses-revenue-generation-and-course-anal">Kaggle</a> e crie um Notebook com as análises feitas neste projeto. A ideia aqui, é que você comece a criar um portfólio de análise de dados na plataforma :)